<tr>
  <td><%= link_to mark.title, mark.url %></td>
  <td>
    <% mark.tag_list.each do |tag| %>
      <span class="badge badge-info"><%= link_to tag, tag_path(tag.to_s) %></span>
    <% end %>
  </td>
  <td>
    <% if mark.user == current_user %>
      <div class="btn-group">
        <button class="btn btn-mini pull-right dropdown-toggle" data-toggle="dropdown">
          Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
          <li><%= link_to "Delete", mark, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini btn-danger" %></li>
        </ul>
      </div>
    <% end %>
  </td>
</tr>