<table class="table table-striped">
  <thead>
    <tr>
      <td width="30%"></td>
      <td width="60%"></td>
      <td width="10%"></td>
    </tr>
  </thead>
  <tbody>
    <% if @marks.count > 0 %>
      <%= render @marks %>
    <% else %>
      <tr>
        <td colspan="3" style="text-align: center">
          <p>
            You don't have any Zipmarks!
          </p>
          <%= link_to "Add Your First Zipmark!", new_mark_path, :class => 'btn-large btn-primary'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>