<div class="container">
  <div class="hero-unit">
    <h1>Welcome to Zipmark.</h1>
    <h2>A place to save the things you love.</h2>
    <p>
      Get started by <%= link_to "creating an account", new_user_registration_path, :class => 'btn btn-large' %> or <%= link_to "logging in.", new_user_session_path, :class => 'btn btn-large' %>
    </p>
  </div>
</div>